$def with (sentence)
<form id="register" action="" method="POST">
<table>
<tbody>
    <tr>
        <td><label for="action">操作</label></td>
        <td><input type="text" id="action" name="action" /><span class="validate_tip"></span></td>
    </tr>
    <tr>
        <td><label for="code">代码</label></td>
        <td><input type="text" id="code" name="code" /><span class="validate_tip"></span></td>
    </tr>
    <tr><td><input type="submit" id="register_btn" value="执行" /></td></tr>
</tbody>
</table>
</form>
