<style >
    #plate1{
        background-color: red;
    }
    #platename{
        font-family: cursive;
        font-size: 50px;
    }
    #plate2{
        background-color: green;
    }
</style>
<div>
        <div id ="plate1">
            <div id = "platename">
                帮迅哥征友
            </div>
            
        <div id="content">
            $:content
        </div>
        </div>
    </div>
    <div>
        <div id ="plate2">
            <div id = "platename">
                帮cyh征友
            </div>
            
        <div id="content">
            $:content
        </div>
        </div>
    </div>